{{ define "main" }}

{{ if (eq .Section "projects") }}

<div class="container">

  {{ partial "bookshop" (slice "page-heading" (dict "title" .Params.title "description" .Params.subtitle)) }}

  {{ partial "bookshop" (slice "page-image" (dict "image" .Params.image "image_alt" .Params.title)) }}

  <div class="page animate">
    {{ .Content }}
  </div>

  <div class="row">
    <div class="col col-10 col-d-12 push-d-0 push-1">
      {{ partial "post-navigation.html" . }}
    </div>
  </div>

</div>

{{ end }}

{{ end }}