{{- $path := . -}}
{{- $baseUrl := site.Params.jsdelivr_base_url -}}
{{- if eq $baseUrl "" -}}
  {{- /* Local development: remove /static/ prefix */ -}}
  {{- $localPath := $path | replaceRE "^/static/" "/" -}}
  {{- printf "%s" $localPath -}}
{{- else -}}
  {{- /* Production: use CDN */ -}}
  {{- /* For CSS files, ensure they have /static/ prefix */ -}}
  {{- if or (strings.HasPrefix $path "/css/") (strings.HasPrefix $path "/static/css/") -}}
    {{- if not (strings.HasPrefix $path "/static/") -}}
      {{- $path = printf "/static%s" $path -}}
    {{- end -}}
  {{- end -}}
  {{- printf "%s%s" $baseUrl $path -}}
{{- end -}}
