{{ if .Site.IsMultiLingual }}
            <div class="language-switcher-title">{{ i18n "change_language" }}:</div> <div class="dropdown">
                {{ range .Site.Languages }}
                {{ if eq . $.Site.Language }}
                <button class="dropbtn">{{ .LanguageName }}
                </button>
                {{ end }}
                {{ end }}
                <div class="dropdown-content">
                    {{ range $.Translations }}
                    <a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}">{{
                        .Language.LanguageName }}</a>
                    {{ end }}
                </div>
            </div>
     {{ end }}
     