<!-- begin related posts -->
<div class="container">
  <section class="related-posts animate">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">
          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ T "related_posts_title" "You may also like" }}</h2>
              {{ range first 1 ($.GetTerms "tags") }}
              <a href="{{ .Permalink }}" class="section__link related-tag">
                {{ if eq .Lang "ja" }}
                  <span>{{ .LinkTitle }}</span> {{ T "see_all" "すべて見る" }}
                {{ else if eq .Lang "zh" }}
                  {{ printf (T "see_all_zh" "查看所有 %s") .LinkTitle }}
                {{ else }}
                  {{ printf (T "see_all_en" "See all %s Music") .LinkTitle }}
                {{ end }}
                <i class="ion ion-md-arrow-forward"></i>
              </a>
              {{ end }}
            </div>
          </div>
          <div class="row">
            {{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
              {{ partial "article-content.html" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end related posts -->